<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="author" content="colorlib.com">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,700" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="s013 text-light" style="text-align: center">
    <form>
        <fieldset>
            <h1 class="text-light" id="predicttext">PREDICT...</h1>

        </fieldset>
        <div class="inner-form">
            <div class="left">
                <div class="input-wrap first">
                    <div class="input-field first">
                        <label></label>
                        <input id="check" type="text" placeholder="ex: food, service, bar, hotel"
                               onchange="callonchange()"/>
                    </div>
                </div>
                <div class="input-wrap second">
                    <div class="input-field second">
                        <label>Select model</label>
                        <div class="input-select">
                            <select id="selectmodel" data-trigger="" name="choices-single-defaul" onchange="">
                                <option value="1" placeholder="">Model 1</option>
                                <option value="2">Model 2</option>

                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <button onclick="callonchange()" class="btn-search" type="button">Predict</button>
        </div>
    </form>
</div>
<script type="text/javascript" src="{{ url_for('static',filename='js/extention/choices.js') }}"></script>
<script>
    console.log("hereee")
    const choices = new Choices('[data-trigger]',
        {
            searchEnabled: false,
            itemSelectText: '',
        });
    var datasend = {text: "", model: ""};

    function onChangeModel() {
        callonchange()
    }

    function callonchange() {
         document.getElementById("predicttext").innerText = "...";

        var x = document.getElementById("check").value;
        console.log(x);
        var modelselected = document.getElementById("selectmodel").value;
        datasend.text = x;
        datasend.model = modelselected


        fetch('/api/input', {
            method: 'POST', // or 'PUT'
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(datasend),
        }).then(response => response.json())
            .then(data => {

                console.log('Success:', data);
                {#alert("Saved Changes");#}
                document.getElementById("predicttext").innerText = data;


            })
            .catch((error) => {
                console.error('Error:', error);
                alert("Can't save changes");
            });

    }

    document.addEventListener('keyup', logKey);

    function logKey(e) {
        if( document.getElementById("predicttext").innerText == "..."){return;}
        if (e.key === 'Tab') {
            data = document.getElementById("check").value;
            document.getElementById("check").value = data + document.getElementById("predicttext").innerText;
            var rs = data +" "+ document.getElementById("predicttext").innerText;
            document.getElementById("check").value =rs ;
            document.getElementById("predicttext").innerText = "";
            callonchange();
        }

    }


</script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>
